<!--card-->
<section class="sk3-flex sk3-flex-center-h">

	<!--card : author-->
	{{if or .Lastmod .Params.author}}
	<div class="sk3-card sk3-info-card sk3-flex box">
		<div class="sk3-flex sk3-flex-center-v sk3-flex-center-h" style="display: inline-block;">
			<!--author-->
			{{with .Params.author}}<div class="sk3-margin-h"><h3>{{.}}</h3></div>{{end}}
			<!--date-->
			<div class="sk3-margin-h sk3-margin-down">
				<em>{{dateFormat "January 02 2006" .PublishDate}}</em>
			</div>
			{{if ne .PublishDate .Lastmod}}
			<div class="sk3-margin-h sk3-margin-down">
				<em>Updated {{dateFormat "January 02 2006" .Lastmod}}</em>
			</div>
			{{end}}
		</div>
	</div>
	{{end}}

	<!--card : tag-->
	{{if (.GetTerms "tags")}}
	<div class="sk3-card sk3-info-card sk3-flex sk3-flex-center-h box">
		<div class="sk3-flex sk3-flex-center-v">
			{{range sort (.GetTerms "tags") "LinkTitle"}}
			<div class="sk3-margin-h txt-center-h">
				[<a class="sk3-margin-h" href="{{.RelPermalink}}">{{.LinkTitle}}</a>]
			</div>
			{{end}}
		</div>
	</div>
	{{end}}

	<!--card : share-->
	{{if site.Params.socialshare}}
	<div class="sk3-card sk3-info-card sk3-flex sk3-flex-center-h box">
		<div class="sk3-flex sk3-flex-center-v sk3-flex-center-h">
			{{partial "social-share.html" .}}
		</div>
	</div>
	{{end}}

	<!--card : nav-->
	{{if (default false .Params.prevnext)}}
	{{if or .PrevInSection .NextInSection}}
	<div class="sk3-card sk3-info-card sk3-flex sk3-flex-center-h box">
		<div class="sk3-flex sk3-flex-center-v sk3-flex-center-h">
			<!--prev-->
			{{with .PrevInSection}}
			<a class="sk3-margin-h txt-center-h" href="{{.RelPermalink}}"><h3><< {{.Title}}</h3></a>
			{{end}}
			<!--next-->
			{{with .NextInSection}}
			<a class="sk3-margin-h txt-center-h" href="{{.RelPermalink}}"><h3>{{.Title}} >></h3></a>
			{{end}}
		</div>
	</div>
	{{end}}
	{{end}}

	<!--card : related-->
	{{if (default false .Params.related)}}
	{{$related := site.RegularPages.Related . | first 5}}
	{{with $related}}
	<div class="sk3-card sk3-info-card sk3-flex sk3-flex-center-h box">
		See Also
		{{range .}}
		<div class="sk3-margin-h txt-center-h">
			[<a class="sk3-margin-h" href="{{.RelPermalink}}">{{.Title}}</a>]
		</div>
		{{end}}
	</div>
	{{end}}
	{{end}}

</section>